// main
$main-text-color: #2c3e50;
$main-background-color: rgba(174 238 238 / 70%);

// background
$bg-loader-color: cadetblue;
$bg-error-color: rgba(255 69 0 / 50%);
$bg-items-color: lightsteelblue;
$bg-input-color: #fff;
$bg-button-color: #2c3e50;
$bg-button-active-color: #7f8ff4;

// icon
$icon-delete-color: orangered;

// text color
$text-error-color: black;
$text-button-color: white;

// shadow
$default-shadow-lighten-color: rgba(0 0 0 / 10%);
$default-shadow-darkness-color: rgba(0 0 0 / 20%);
