.weather-widget-component-enter-active,
.weather-widget-component-leave-active {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.weather-widget-component-enter-from,
.weather-widget-component-leave-to {
  position: absolute;
  top: 66px;
  left: 50%;
  transform: translate(-50%, 30px) skew(15deg, 15deg);
  will-change: transform;
  opacity: 0;
}

.weather-widget-component-header-enter-active,
.weather-widget-component-header-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.weather-widget-component-header-enter-from,
.weather-widget-component-header-leave-to {
  position: absolute;
  will-change: transform;
  opacity: 0;
}
